@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%;overflow-y: scroll; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #EEF1F8;
	/* color: #fff; */
	font-size: 14px;
	text-align:center;
	letter-spacing:1.2px;
}

.navbar a {
	padding: 18px;
	text-decoration: none;
	font-weight: bolder;
  }

  input[type="file"] {
    display: none;
}
.custom-file-upload {
	border-radius: 4px;
	color: white;
	font-size: 14px;
    background-color: #e57184;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile-box {
	position: relative;
  }
  
.inputfile {
	display: none;
}
  
.container {
	display: inline-block;
	width: 100%;
}
  
.file-box {
	display: inline-block;
	width: 100%;
	border: 2px solid  #e57184;
	padding: 5px 0px 5px 5px;
	box-sizing: border-box;
	height: calc(2rem - 2px);
	border-radius: 4px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
  
.file-button {
	border-radius: 4px;
	color: white;
	font-size: 16.5px;
    background-color: #e57184;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.file-button:hover {
	background-color: #ff005e;
}


  
.btn-info{
	background:#e57184;
	border: 0px
}


.btn-info:hover {
	background-color: #ff005e;
}

.stats{
	text-align: center;
}
/* .inp-box{
	width:50%
} */

/* .csv-preview{
	text-align: center;
} */
